@page "/"
@inject ApiService<JobDto> JobService
@inject NavigationManager NavigationManager;
@rendermode InteractiveServer

<h3>Job Listings</h3>

<button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addJobModal">
    Add Job
</button>

@if (jobs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Categories</th>
                <th>Company</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in jobs)
            {
                <tr>
                    <td>@job.Title</td>
                    <td>
                        @foreach (var category in job.Categories)
                        {
                            @category
                            <br />
                        }
                    </td>
                    <td>@job.CompanyName</td>
                    <td>
                        @foreach (var location in job.Locations)
                        {
                            @location
                            <br />
                        }
                    </td>
                    <td>
                        <a href="/jobs/@job.Id" class="btn btn-primary">View Details</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

@code {
    private List<JobDto>? jobs;


    protected override async Task OnInitializedAsync()
    {
        jobs = await JobService.GetEntities();
    }
}