@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-color: transparent; border-color: transparent;">
            <NavLink class="btn btn-primary" href="/register-company">
                <i class="bi bi-plus-lg"></i> Add Company
            </NavLink>
            <NavLink class="btn btn-primary" href="/register-person">
                <i class="bi bi-plus-lg"></i> Add Person
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

